@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;500;600;700&display=swap");

html {
  height: 100%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: var(--color-text-primary);
}

body {
  margin: 0;
  height: 100%;
}

.globe {
  -webkit-tap-highlight-color: transparent;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.globe:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
